<div style="display: flex; justify-content: center">
  <a href="http://localhost:5080/"><h1>Play again</h1></a>
</div>
<div style="display: flex; justify-content: space-evenly">
  <h2>Lost connection to database.</h2>
</div>